<!-- <div ng-controller="loginCtrl"> -->
    <center>
        <form>
            <h1> LOGIN FORM</h1> Email_id: <input type="text" id="username" ng-model="email"/><br/>
            <br/> Password: <input type="password" id="password" ng-model="password"/><br/>
            <br/>
            <span ng-show="error" >{{error}}</span></br>
            <button value="login" ng-click="login()">Login</button><br/>
        </form>
    </center>
<!-- </div> -->
</br>
<center>
    <a href="#/register">Click here <span>for registration</span></a>
</center>
