 <div ng-controller="registerCtrl">
    <center>
        <form>
            <h1> REGISTRATION FORM</h1> Email_id: <input type="text" id="username" ng-model="email"></input><br/>
            <br/> Password: <input type="password" id="password" ng-model="password"></input><br/>
            <br/>
            <button value="register" ng-click="register()">Click to register</button><br/>
        </form>
    </center>
    <center>
        <a href="#/login">Click here <span>for Login</span></a>
    </center>
