


    <div style="background-color:rgba(0, 0, 0, 0.5)">
        <div class="container text-center">
            <center>
                <h1 style="color:white">INDIAN PREMIER LEAGUE</h1></center>
        </div>
    </div>

<body>
    <div carousel3d ng-model="slides" options="options">
        <div carousel3d-slide ng-repeat="slide in slides">
            <figure>
                <a ng-if="carousel3d.getCurrentIndex() === $index" ui-sref="player({teamname:slide.url})"><img ng-src="{{slide.src}}" alt="" /></a>
                <img ng-if="carousel3d.getCurrentIndex() !== $index" ng-src="{{slide.src}}" alt="" />
                <figcaption ng-bind="slide.caption"></figcaption>
            </figure>
        </div>

    </div>
</body>
